{% extends 'base.html'%}
{% block container %}
<div class="container-fluid bd-gutter flex-wrap flex-lg-nowrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% include 'list_workouts.html' %}
            </div>
            <div class="col-9">
                <div class="row d-grid gap-2">
                    <h1 class="display-1">Simple workout designs</h1>
                    <br>
                    <h1 class="display-1">State-of-the-Art Science</h1>
                </div>
                <hr>
                <div class="row d-grid gap-2">
                    <h2 class="mb-3">Get started by following these simple directions</h2>
                        {%include 'accordion.html'%}
                </div>
                <br>
                <hr>
                <div class="row d-grid gap-2">
                    {%include 'maincards.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}
