{% extends 'home.html' %}
{% block container %}
<div class="container mt-5 p-3 bg-info bg-opacity-10 border-start-0 rounded-end w-50">
    <form method="POST" action="{{url_for('timer.init_timer')}}" role="form">
        <div class="row g1 mt-3">
            <div class="d-grid gap-2 col-6 mx-auto">
                <h1 class="text-center">00:00</h1>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="text-center">{{ form.start(class="btn btn-lg btn-primary bg-gradient fs-4 w-100")}}</div>
            </div>
        </div>
    </form>
</div> 
{% endblock %}
