{% block container %}
<div class="row mh-100 ms-3 d-inline-block p-3">
    <div class="container p-2">
        <h2>Train the right way.</h2>
        <br>
        <h4>Unlock your potential with pre-planned routines</h4>
        <p>Our models consist of pre-programmed workout templates that...</p>
        <h4>Be next level with less</h4>
        <p>Experience our fast-paced interval training methods...</p>
        <h4>Transform yourself at any fitness level</h4>
        <p>Whether you've been a couch potato or a collegiate athlete...</p>
    </div>
</div>
{% endblock %}